input[type=file]::file-selector-button {
    display: none;
}

input[type=file]::-webkit-file-upload-button {
    display: block;
    width: 0;
    height: 0;
    margin-left: -100%;
}

input[type=file]::-ms-browse {
    display: none;
}

.avatar {
    border: solid 4px transparent;
}

.selected-avatar {
    box-sizing: border-box;
    border-radius: 0.375rem;
    border: solid 4px #3b82f6;
}

.disabled {
    color: linen;
    opacity: 0.3;
    pointer-events: none;
}

.like-path svg {
    width: 25px;
    margin-right: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    fill: white;
}

.like-path .st0:hover {
    fill: rgb(197, 34, 34);
    transition: all 0.3s ease;
}

.liked .st0 {
    fill: rgb(197, 34, 34);
    transition: all 0.3s ease;
}